$bg-color: '#faf9f9';
$primary-color: '#252323';
$secondary-color: '#a99985';

$prose: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$prose-italic: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$small-font-size: 12px;

$padding-base: 15px;
$padding-large: $padding-base * 1.5;

$border-radius: 4px;

$margin-base: 15px;
$margin-large: $margin-base * 1.5;
