$bg-color: #fff;
$primary-text-color: #434547;
$secondary-text-color: #878f99;
$line-light-color: #a1a4aa91;
$highlight-color: #f7c409;

$primary-font: 'inter', ui-serif, Georgia, Cambria, Times New Roman, Times,
  serif;
$secondary-font: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif;
