@import 'variables';

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif;
  line-height: 1.4;
  background: $bg-color;
  color: $primary-text-color;
  transition: all 1s ease;
  padding-top: 38px;
}

h2,
h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: -1px;
  line-height: 32px;
}

nav a {
  margin-right: 10px;
  color: $secondary-text-color;
  font-weight: 700;
  font-size: 12px;
  transition: all 0.25s ease;
  text-decoration: none;

  &:hover {
    color: orange;
  }
}

header {
  display: flex;
  justify-content: space-between;

  nav {
    flex-shrink: 0;
    width: 280px;
  }
  ul {
    list-style: none;
    display: flex;
  }

  article {
    flex-shrink: 1;
    flex-grow: 1;
    word-wrap: break-word;
    padding: 6px 1.8rem;

    p:first-of-type {
      margin-bottom: 10px;
      font-weight: 700;
    }

    a {
      color: inherit;
      font-weight: 400;
    }
  }
}

p,
ul {
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
  font-size: 15px;
  font-weight: 400;
}

p a {
  text-decoration: underline;
  transition: all 0.35s ease;

  &:hover {
    background: #f9ab1a;

    text-decoration: underline;
    color: #434547;
    border-radius: 3px;
  }
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

hr {
  border: none;
  border-top: 1px solid $line-light-color;
  margin: 24px 0;
}
