@import 'variables';
@import 'fonts';

*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  font-size: 16px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 0;
}

blockquote {
  font-style: italic;
}

body {
  font-size: 1.125rem;
  line-height: 1.6;
  text-align: left;
  background-color: $bg-color;
  font-family: 'Work Sans', sans-serif;
}

a {
  color: $primary-color;
  text-decoration: none;
}

header {
  padding: 1rem 0;

  a {
    font-weight: 300;

    &#main {
      font-weight: bold;
      margin-right: 1.5rem;
    }

    &#rss {
      font-weight: 300;
      color: #858484;
    }

    &:not(#main) {
      margin-right: 0.75rem;
    }
  }
}

p {
  font-weight: 300;

  a {
    position: relative;
    display: inline-block;

    &::after {
      content: '~~~~~~~~~~~~';
      font-size: 0.8em;
      font-weight: 700;
      margin-top: 3px;
      width: 100%;
      color: #09bc8a;
      position: absolute;
      top: 12px;
      left: -1px;
      overflow: hidden;
    }
  }
}

.wrap {
  position: relative;
  max-width: 650px;
  width: 90%;
  margin: 0 auto;
}

h2 {
  font-weight: bold;
  font-size: 1.53rem;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 5px;

    a {
      font-weight: 300;
      text-decoration: underline;
      text-underline-offset: 3px;
      font-size: 1rem;
      &:hover {
        background-color: #e6e8e6;
      }
    }
  }

  span {
    font-size: 0.7em;
    font-style: italic;
    margin-left: 0.25em;
    font-weight: bold;
    white-space: nowrap;
    color: #9a9898;
    display: inline-block;
  }
}
