{{define "main"}}
<section class="wrap">
  <div class="bio">
    <p>
      I'm a software engineer, i design and build things that sometimes end up
      on the internet for humans to use. I also write about software development
      and computer science in general. You can reach out to me through my
      twitter
      <a
        href="http://twitter.com/noelukwa"
        target="_blank"
        rel="noopener noreferrer"
        >@noelukwa</a
      >
    </p>
  </div>

  <div class="posts"></div>
</section>
{{ end }}
